body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #1a1717;
    text-align: center;
    margin: 0;
    padding: 0;
}
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 24px;
}
nav {
    background-color: #333;
    overflow: hidden;
}
nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    float: left;
    display: block;
}
nav a:hover {
    background-color: #ddd;
    color: black;
}
.container {
    padding: 20px;
}
.section-title {
    font-size: 28px;
    margin-bottom: 10px;
}
.form-input {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    width: 80%;
}
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    width: 40%;
    border-radius: 10px;
}
.btn:hover {
    background-color: #45a049;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 12px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.hidden {
    display: none;
}


.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 600px;
    margin: auto;
}
.map-zone, .piece {
    width: 90%;
    height: 90%;
    border: 2px solid #333;
    margin: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: grab;
}
.map-zone {
    background-color: #ddd;
}
.piece {
    background-color: #4CAF50;
    color: white;
    cursor: grab;
}
.hidden {
    visibility: hidden;
}
#message {
    margin-top: 20px;
    font-size: 24px;
    color: #4CAF50;
    display: none;
}

canvas { border: 1px solid black; margin-top: 20px; }